html {
	scroll-behavior: smooth;
}
* {
	font-family: 'Raleway', sans-serif;
}
#landingPage {
	height: 100vh;
	background-image: url(https://cdn.dribbble.com/users/3457/screenshots/2006659/animated-svg.gif);
	background-size: cover;
}
.text-content {
	background-color: #00000060;
}
.devName {
	color: #e31b6d;
}
.navbar {
	background-color: #1b242f;
	border-bottom: 4px solid #04c2c9;
}
.nav-link {
	font-size: 12pt;
}
#jeanphoto {
	border: 4px solid #04c2c9;
}
.progress-bar-striped {
	background-color: #04c2c9;
	height: 20px;
}
.progress, .progress-bar-striped {
	height: 50px;
}
#gallery {
	background-color: #DCDCDC80;
}
#images img{
	width: 30%;
}
#contact {
    background-image: url("./images/bg-contact.jpg");
    background-size: cover;
    width: 100%;
    margin-left: 0px;
}